.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

img.footer-img {
  width: 200px;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 18px;
}

.footer-link li {
  cursor: pointer;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: bold;
}
